:root{--textcolor:#151616;--linkcolor:#28b7f2;--color1:#7de1e0;--main-font:'PT Sans',sans-serif}
body{font-family:var(--main-font);color:var(--textColor);background: rgba(96,104,116,1);/* Old Browsers */background: -moz-linear-gradient(left, rgba(96,104,116,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(136,184,224,1) 100%); /* FF3.6+ */background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,104,116,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(100%, rgba(136,184,224,1)));/* Chrome, Safari4+ */background: -webkit-linear-gradient(left, rgba(96,104,116,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(136,184,224,1) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(left, rgba(96,104,116,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(136,184,224,1) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(left, rgba(96,104,116,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(136,184,224,1) 100%); /* IE 10+ */background: linear-gradient(to right, rgba(96,104,116,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(136,184,224,1) 100%);/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606874', endColorstr='#88b8e0', GradientType=1 );/* IE6-9 */}
img{max-width:100%}
a{color:#28b7f2}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}
div#sblue {
    background: #5b6e89;
}

.color {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 10px;
}

.colors {
    float: left;
}

.colors {}

div#spurple {
    background: #8a738f;
}

div#sblack {
    background: #010101;
}

div#iwhite {
    background: #e2e2e0;
}

div#iwhite {
    background: #262629;
}

.color.selected {
    box-shadow: 0px 0px 13px #cfc064;
    border: 1px solid #cfc064;
}

.phone {
    text-align: center;
}

.pick-btn {
    background: #27d2d0;
    color: #fff;
}

.popup-title {
    background: #fff;
    width: 400px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
}

.head {
    padding: 0;
}

footer {
    background: #ebebeb;
    text-align: center;
    padding: 0!important;
}

footer img {
    width: 160px;
}

footer:before {
    display: block;
    height: 40px;
    background: white;
    width: 100%;
}